
  h1 {color:white; font-size:34px}
.button1 { /*for that nyc website*/
    background-color: red;
    border: black;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.greenbut {
    background-color: green;
    border: 2px solid none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    /*display:inline-block;*/
    /*float:left*/
    cursor: pointer;
}

.redbut {
    background-color: red;
    border:2px solid none;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.purplebut {
    margin: 20px;
    background-color: purple;
    border:2px solid black;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    display:block;
    cursor: pointer;
}

.side {
   float:left;
   width:50%;
}

.blackgrn {
    margin: -3px;
    background-color: black;
    border:2px solid green;
    color: white;
    padding: 15px 25px;
    text-align: center;
    font-size: 16px;
    color: green;
    cursor: pointer;}

  .float {
    float:left;
    margin: 5px
  }
#text{
color: white;
font-size: 20px;
}

.block{
  display: block;
}

.txtblock{
  display: block;
  border:2px solid black;
  background-color: green;
  text-align: center;
  color:white;
}
